{% load static  %}
<html>
    <head>
        <title>DH blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/$
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/$
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/$
        <link href="https://fonts.googleapis.com/css?family=Roboto&subset=latin$
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}"> 
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/">DH Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">

                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>Опубликовано: {{ post.published_date }}</p>
                            </div>
                            <h1><a href="">{{ post.title }}</a></h1>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrit$
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/um$
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bo$
    </body>
</html>

